exports ../shared/template
block content
  h2 Client Page
  .row
    .col-xs-12
      h2 client.email
      h5 client.location
  .row
    .col-xs-2
      a.thumbnail(href='#{user.photo}')
        img(src=client.photo)
    .col-xs-4
      .panel.panel-default
        .panel-body
          form(role='form', method='post', action='/messages/#{client.id}')
            .row
              .col-xs-6
                .radio
                  label
                    input(type='radio' name='mytpe' value='internal')
                    span Internal
              .col-xs-6
                .form-group
                  label(for='message') Message
                  textarea.form-control#message(name='message')
                .form-group
                  button.btn.btn-info.btn-sm(type='submit') Send Message
  .row
    .col-xs-12
      #smallmap
  .row
    h1 Available
    .col-xs-12
      table.table.table-striped.table-hover.table-bordered
        thead
          th Name
          th Photo
          th Description
        tbody
          loop each item in items
            tr
              td item.name
              td item.photo
              td item.description

block scripts

