extends ../shared/template
block content
  .row
    .col-xs-2
    .col-xs-8
      .panel.panel-default
        .panel-body
          h1=message.from
          h3=message.sent
          h3=message.subject
          h3=message.body
    .col-xs-2


      block scripts

