.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') SwapThis

    .collapse.navbar-collapse#bs-navbar-collapse
      ul.nav.navbar-nav.navbar-right
        if user
          li: a(href='/items/new') Add Item
          li: a(href='/items') Items
          //li: a(href='/profile') Profile
          li.dropdown
            a.dropdown-toggle(href='/profile', data-toggle='dropdown') Profile
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='/profile') View Profile
                a(href='/profile/edit') Edit Profile
          li: a(href='/messages')
            span Messages &nbsp;
            span.badge= user.unread
          li
            form.navbar-form(method='post', action='/logout')
              .form-group
                input(type='hidden', name='_method', value='delete')
                button.btn.btn-danger= user.email
        else
          li: a(href='/register') Register
          li: a(href='/login') Login

