extends ../shared/template
block content
  h2 Home
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-body
        h4 Welcome to Swap This
        br
        p You have landed on the sweetest Swap place around! Come in and see what others have to swap. Add items and get to swappin'!
    .col-xs-8

block scripts
  script(src='/js/user/home.js')

