extends ../shared/template
block content
  h2 Home
  .panel.panel-default
    .panel-body
      h4 Welcome to SwapThis
        You have landed on the sweetest Swap place around! Come in and see what others have to swap. Add items and get to swappin'!
      h4 Favicon Generators
      ul
        li: a(href='http://www.favicon.cc/', target='_blank') http://www.favicon.cc/

block scripts
  script(src='/js/user/home.js')

