extends ../shared/template
block content
  h2 BID ITEM
  .row
    .col-xs-4.col-xs-offset-4
      form(role='form', method='post', action='/items/#{item._d}/bid')
        .form-group
          label(for='item') To Get That:
          input.form-control#item(type='text', value=item.name, readonly)
        .form-group
          label(for='offer') I'll Give This:
          select.form-control#offer(name='offer')
            each bid in bids
              option(value=bid._id)= bid.name

        button.btn.btn-success(type='submit') Submit

block scripts
  script(src='/js/user/update.js')

