extends ../shared/template
block content
  h3 Accepting/Rejecting Offers
  .row
    .col-xs-9.col-xs-offset-3
      table
        thead
          th Your Items
          th Bid Items
          th Response
        tbody
          each offer in offers
            tr
              td: a(href='/items/#{offer.owned._id}')=offer.owned.name
              td: a(href='/items/#{offer.offered._id}')=offer.offered.name
              td
                a(href='/offers/item._Id/accept/bid._Id') Accept
                a(href='/offers/item._Id/reject/bid.Id') Reject




block scripts
  script(src='/js/user/itemsIndex.js')
