extends ../shared/template
block content
  h3 Take it or Leave It
  .row
    .col-xs-9.col-xs-offset-3
      table
        thead
          th Your Items
          th Bid Items
          th Response
        tbody
          loop for each bid in item.bids
          tr
            td :a(href=/items/:item._id)
            td :a(href=/items/:bid._id)
            td
              a(href='/offers/item._Id/accept/bid._Id') Accept
              a(href='/offers/item._Id/reject/bid.Id') Reject




block scripts
  script(src='/js/user/itemsIndex.js')
