extends ../shared/template
block content
  .row#location(data-location= client.location, data-lat= client.lat, data-lng= client.lng)
    .col-xs-6
      h1= item.name
      each photo in item.photos
        .photo.thumbnail#itemPhotos(style='background-image:url(#{photo});')
    .col-xs-6
      h3 Owner: #{client.email}
      h4: a(href'/profile/edit')= client.email
      h4= client.location
      #smallmap

block scripts
  script(src='/js/user/itemShow.js')
